body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 100px 1fr;
}

:root {
  font-size: calc(1.5vh);
}

.header {
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  height: 50%;
  width: 200px;
  align-self: center;
  justify-self: center;
  background-color: rgb(255, 196, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container {
  height: 25rem;
  width: 25rem;
  display: flex;
 
  position: relative;
  perspective: 70rem;
  perspective-origin: 50% -35%;
  transform-style: preserve-3d;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 35rem;
  border: 1px solid black;
  align-self: center;
  justify-self: center;
}

.cuboid {
  position: absolute;
  width: 100%;
  height: 6.25rem;
  transform-style: preserve-3d;
}

.one {
  /* perspective-origin: 150% -150%; */
  /* transform: rotateY(-60deg); */
  animation: one 4s ease 3s infinite;
}

@keyframes one {
  0% {
    transform: rotateY(0);
  }

  80% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

.two {
  top: 6.25rem;
  /* transform: rotateY(-50deg); */
  animation: two 4s ease 3.1s infinite;
}

@keyframes two {
  0% {
    transform: rotateY(0);
  }

  80% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

.three {
  top: 12.5rem;
  /* transform: rotateY(-40deg); */
  animation: three 4s ease 3.2s infinite;
}

@keyframes three {
  0% {
    transform: rotateY(0);
  }

  80% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

.four {
  top: 18.75rem;
  /* transform: rotateY(-30deg); */
  animation: four 4s ease 3.3s infinite;
}

@keyframes four {
  0% {
    transform: rotateY(0);
  }

  80% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

.front, .back, .top, .left, .right, .bottom {
  width: 100%;
  height: 6.25rem;
  position: absolute;
}

.front {
  background-color: rgb(77, 77, 77);
  transform: translateZ(12.5rem);
}

.back {
  background-color: rgb(77, 77, 77);
  transform: rotateY(180deg) translateZ(12.5rem);
}

.top {
  height: 25rem;
  width: 25rem;
  background-color: rgb(158, 158, 158);
  transform: rotateX(90deg) translateZ(12.5rem);
}

.bottom {
  height: 25rem;
  width: 25rem;
  background-color: rgb(133, 133, 133);
  transform: rotateX(90deg) translateZ(6.25rem);
}

.right {
  background-color: rgb(43, 43, 43);
  transform: rotateY(90deg) translateZ(12.5rem);
}

.left {
  background-color: rgb(129, 129, 129);
  transform: rotateY(-90deg) translateZ(12.5rem);
}